/* General Settings */
:root {
    /*colors */
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    /* settings */
    --Mobile: 375px;
    --Desktop: 1440px;
    --Font-size: 14px
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    max-width: 100%;
    font-size: var(--Font-size);
    font-family: 'Raleway', sans-serif;
    background: var(--Very-Dark-Blue) url(/assets/img/bg-desktop.png) no-repeat bottom;
}

/* Main + wrapper */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2em;
    max-width: max-content;
}

/* Both bars settings */
.icons-bar, .storage-bar {
    background: var(--Dark-Blue);
    border-radius: 1em;
}

/* Icons Bar */
.icons-bar {
    padding: 3em 9em 3em 3em;
    border-top-right-radius: 8em;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 3em 0 0 0;
    padding: 0;
}

.document {
    background: var(--Very-Dark-Blue) url(/assets/img/icon-document.svg) no-repeat center center;
    padding: 1em 2em 1em 1em;
    border-radius: 0.5em;
}

.folder {
    background: var(--Very-Dark-Blue) url(/assets/img/icon-folder.svg) no-repeat center center;
    padding: 1em 2em 1em 1em;
    border-radius: 0.5em;
    margin: 0 1em;
}

.upload {
    background: var(--Very-Dark-Blue) url(/assets/img/icon-upload.svg) no-repeat center center;
    padding: 1em 2em 1em 1em;
    border-radius: 0.5em;
}

/* Storage Bar */
.storage-bar {
    padding: 0 15em 2em 2em;
    color: var(--Pale-Blue);
    font-weight: 400;
}

.storage-bar span, .min-max p {
    color: var(--Pale-Blue);
    font-weight: 700;
}

/* Storage Text */
.storage-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Min - max */
.min-max {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Footer Signature */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

